.p-inputtext	{
    width: 100%;
    font-family: "Mulish-Semibold" !important;
    font-size: 17px !important;
    height: 4vw;
    color: #fff !important;
    background: #00000030 !important;
    padding: 0.5rem 1.7vw !important;
    border: none !important;
    transition: none !important;
    appearance: none;
    border-radius: 9px !important;
}

.p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none !important; 
    border: none !important;
}

.p-inputtext::placeholder {
    color: #fee3bd;
  }

  @media (orientation: landscape) and (min-width: 2600px) {
    .p-inputtext	{
        font-size: 30px !important;
    }
}
@media (orientation: landscape) and (max-width: 2600px) {
    .p-inputtext	{
        font-size: 24px !important;
    }
}
@media (orientation: landscape) and (max-width: 2150px) {
    .p-inputtext	{
        font-size: 20px !important;
    }
}
@media (orientation: landscape) and (max-width: 1800px) {
    .p-inputtext	{
        font-size: 18px !important;
    }
}
@media (orientation: landscape) and (max-width: 1500px) {
    .p-inputtext	{
        font-size: 16px !important;
    }
}
@media (orientation: landscape) and (max-width: 1200px) {
    .p-inputtext	{
        font-size: 14px !important;
    }
}
@media (orientation: landscape) and (max-width: 1040px) {
    .p-inputtext	{
        font-size: 12px !important;
    }
}
@media (orientation: landscape) and (max-width: 940px) {
    .p-inputtext	{
        font-size: 11px !important;
    }
}
@media (orientation: landscape) and (max-width: 800px) {
    .p-inputtext	{
        font-size: 9.5px !important;
    }
}
@media (orientation: landscape) and (max-width: 650px) {
    .p-inputtext	{
        font-size: 8.5px !important;
    }
}
@media (orientation: landscape) and (max-width: 550px) {
    .p-inputtext	{
        font-size: 7.3px !important;
    }
}
@media (orientation: landscape) and (max-width: 450px) {
    .p-inputtext	{
        font-size: 6px !important;
    }
}
@media (orientation: landscape) and (max-width: 350px) {
    .p-inputtext	{
        font-size: 5px !important;
    }
}
@media (orientation: portrait) {
    .p-inputtext	{
        font-size: 2vw !important;
        height: 6.5vw !important;
    }
}