.mask {
    background-color: #00000030 !important;
}

.content {
    display: block;
    height: 85vh;
}

.dialog {
    width: 85% !important;
    margin-bottom: 0 !important;
}

.modal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 27vw;
}

.image {
    position: absolute;
    left: -12vw;
    bottom: 0px;
    height: 100vh;
    width: 40vw;
    object-position: 40% 100%;
    object-fit: contain;
    filter: drop-shadow(5px 17px 35px #222) !important;
}

.country {
    float: right;
}

.country-image {
    margin-top: 5vh;
    margin-right: 2vw;
    width: 12.3vw;
    height: 8.3vw;
    box-shadow: 0 0 4.5vh -10px rgb(0 0 0 / 50%);
}

.h2 {
    font-size: 9vw;
    bottom: 5px;
    position: relative;
    color: #F2753B;
    margin-top: calc( 54 * 14vw/100) !important;
    margin: 14vh 1vw 6vh 17vw;
    display: inline-block;
}

.b {
    color: white;
    font-size: 7vw;
    position: absolute;
    bottom: 127px;
    left: 2px;
    -webkit-text-stroke-width: 0.23vw;
    -webkit-text-stroke-color: #f2753b;
}

.h3 {
    font-family: "Mulish-Bold";
    margin-bottom: auto;
    color: #b1b1b1;
    font-size: 14px;
    margin-top: 21px;
}

.p {
    font-family: "Montserrat-Bold";
    color: #F2753B;
    font-size: 13px;
    margin-top: 6px;
}

.career-title {
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 4;
}

.age {
    grid-column-start: 2;
    grid-column-end: 4;
}

@media (orientation: landscape) and (min-width: 2600px) {
    .image {
        left: -135px;
        width: 856px;
        height: 85vh;
    }
    .b {
        bottom: 243px;
    }
    .h3 {
        font-size: 26px;
        margin-top: 58px;
    }
    .p {
        font-size: 25px;
        margin-top: 8px;
    }
}
@media (orientation: landscape) and (max-width: 2600px) {
    .image {
        left: -151px;
        width: 734px;
        height: 85vh;
    }
    .b {
        bottom: 196px;
    }
    .h3 {
        font-size: 22px;
        margin-top: 46px;
    }
    .p {
        font-size: 21px;
        margin-top: 8px;
    }
}
@media (orientation: landscape) and (max-width: 2150px) {
    .image {
        left: -123px;
        width: 635px;
        height: 85vh;
    }
    .b {
        bottom: 170px;
    }
    .h3 {
        font-size: 19px;
        margin-top: 32px;
    }
    .p {
        font-size: 18px;
        margin-top: 6px;
    }
}
@media (orientation: landscape) and (max-width: 1800px) {
    .image {
        left: -123px;
        width: 557px;
        height: 85vh;
    }
    .b {
        bottom: 140px;
    }
    .h3 {
        font-size: 16px;
        margin-top: 27px;
    }
    .p {
        font-size: 15px;
        margin-top: 5px;
    }
}
@media (orientation: landscape) and (max-width: 1500px) {
    .image {
        left: -123px;
        width: 500px;
        height: 85vh;
    }
    .b {
        bottom: 115px;
    }
    .h3 {
        font-size: 14px;
        margin-top: 21px;
    }
    .p {
        font-size: 13px;
        margin-top: 6px;
    }
}
@media (orientation: landscape) and (max-width: 1200px) {
    .image {
        left: -140px;
        width: 474px;
        height: 85vh;
    }
    .b {
        bottom: 100px;
    }
    .h3 {
        font-size: 10px;
        margin-top: 18px;
    }
    .p {
        font-size: 9px;
        margin-top: 1px;
    }
}
@media (orientation: landscape) and (max-width: 1040px) {
    .image {
        left: -10vw;
        width: 40vw;
        height: 85vh;
    }
    .b {
        bottom: 8.5vw;
    }
    .h3 {
        font-size: 1.5vw;
        margin-top: 1vw;
    }
    .p {
        font-size: 1.3vw;
        margin-top: 1vw;
    }
}
@media (orientation: portrait) {
    .content {
        height: 60vh;
        padding-left: 4vw !important;
        padding-right: 4vw !important;
    }
    .h2 {
        margin: 14vh 1vw 3vh 0vw;
        padding-top: 10vw;
    }
    .dialog {
        width: 90% !important;
    }
    .modal {
        margin-left: 0vw;
    }
    .image {
        z-index: -2;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        bottom: 49vh;
        right: 0;
        width: 80vw;
        height: 48vh;
        filter: none !important;
        object-position: 50% 100% !important;
        object-fit: contain;
    }
    .b {
        bottom: 10vw;
    }
    .h3 {
        font-size: 2.35vw;
        margin-top: 3vw;
    }
    .p {
        font-size: 2vw;
        margin-top: 1.5vw;
    }
    .country-image {
        margin-top: 10vw;
        box-shadow: 0 0 3vh -1.5vw rgb(0 0 0 / 50%);
    }
}